.login h2 {
    font-size: 24px;
    margin-bottom: 16px;
}


.login__form input {
    display: block;
    outline: 0;
    padding: 5px 10px;
    width: max(400px, 50%);
}

.login__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.login__form-row {
    margin-top: 10px;
}

.login__form-bottom {
    margin-top: 30px;
}

.login__form-bottom button {
    width: 5rem;
    margin-right: 1rem;
}

.form__link {
    color: var(--accent-color);
}

.form__link:hover {
    text-decoration: underline;
}

.error-input {
    border: 1px solid red;
}