.header__controls-area {
    display: grid;
    grid-template-columns: repeat(4, max-content);
}


.header__control-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.header__cabinet {
    margin-left: 0px;
}

.header__control-text {
    font-size: 16px;
    line-height: 1;
}

.icon-user,
.icon-compare,
.icon-favourite,
.icon-cart {
    width: 24px;
    height: 24px;
}


@media screen and (max-width: 992px) {
    .header__control-text {
        display: none;
    }
}