@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');


:root {
    --link-hover-color: #76BC21;
    --accent-color: #76BC21;
    --header-catalog-btn-hover: #82ca2a;
    --second-color: #F7F7F7;
    --footer-bottom-bg: #eaeaea;
    --grid-list-min-width: 200px;
    --grid-list-min-width-mobile: 100px;
    --scroll-bar-color: #cdcdcd;
    --scroll-bar-bg: #f0f0f0;
    --indicator-bg: #9edc53;
    --indicator-radius: 18px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

main {
    padding-top: 20px;
    padding-bottom: 30px;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
    
}

a {
    text-decoration: none;
    color: black;
}

input {
    outline: 0;
}

.page-layout {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.is-hide {
    display: none;
}

.button {
    border: none;
    background-color: var(--accent-color);
    color: white;
    padding: 10px;
}

.button:hover {
    background-color: var(--header-catalog-btn-hover);
}

.number-indicator {
    display: inline-block;
    color: white;
    background-color: var(--indicator-bg);
    border-radius: 50%;
    height: var(--indicator-radius);
    width: var(--indicator-radius);
    line-height: var(--indicator-radius);
    text-align: center;
    font-size: 0.7rem;
}


.empty-catalog-message {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px 0px;
}
